.box-parent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px 0px 0px;
}

.temptlate-box {
    display: flex;
    justify-content: space-between;
    width: 80%;
    border-radius: 15px;
    border: 1px solid #14186A;
    margin-bottom: 40px;
    &__image {
        display: flex;
    }
}

.image {
    height: 180px;
    width: 250px;
    object-fit: cover;
    background-color: gray;
    border-radius: 15px 0px 0px 15px ;
}

.box-video-import {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-run {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-run button {
    padding: 10px 30px;
    border-radius: 5px;
    border: 1px #14186A solid ;
    background-color: #14186A;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
}

.arrow::after {
    content: '\2192';
    margin-left: 5px;
    font-size: 20px;
    font-weight: 900;
    color: #FFF;
}
