.boxe-globale {
    width: 80%;
    height: 91vh;
    padding: 30px 20px 20px 20px;
}

.boxe-template-globale {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.box-recherche-template {
    display: flex;
    justify-content: end;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
    &__label {
        font-size: 18px;
        margin-right: 5px;
    }
    &__input {
        margin-top: 5px;
        width: 5%;
        height: 28px;
        font-size: 18px;
        padding-left: 10px;
        border-radius: 5px;
        border: 1px solid #14186a;
    }
}

.box-template {
    background-color: #FFF;
    height: 230px;
    border: 1px solid #14186a;
    border-radius: 15px;
    width: 30%;
    cursor: pointer;
    margin-bottom: 30px;
    position: relative;
    text-decoration: none;
    color: #14186a;
    &__image {
        height: 180px;
        width: 100%;
        object-fit: cover;
        background-color: gray;
        border-radius: 15px 15px 0px 0px;
    }
    &__tag-news {
        position: absolute;
        z-index: 10;
        top: 10px;
        left: 10px;
        background: #FFF;
        border-radius: 5px;
        padding: 2px 5px;
    }
    &__contente {
        padding: 10px;
        display: flex;
        justify-content: space-between;
        &__title-id{
            margin: 0px;
        }
        &__list {
            &__element {
                font-size: 14px;
            }
        }
    }
}

.template-clicked .box-template__contente__title-id {
    color: #FFF;
}

.boxe-navigation {
    // height: 100vh;
    width: 20%;
    background-color: #c8c8e1;
    // display: flex;
    padding: 30px;
    flex-wrap: wrap;
}

.box-parent {
    display: flex;
    width: 100%;
}

/*TAG*/

#tags-box-glb {
    margin-bottom: 30px;
}

.tag-car, .tag-city{
    border: 2px solid #14186A;
    width: fit-content;
    padding: 3px 10px;
    border-radius: 28px;
    background-color: #14186A;
    color: #FFF;
}

.close-icon {
 background-color: #c8c8e1;
 padding: 1px 5px;
 border-radius: 20px;
 margin: 0px 0px 0px 5px;
 cursor: pointer;
}

button {
    cursor: pointer;
}

.bx-fltr-tbn {
    display: flex;
    // justify-content: space-around;
    flex-wrap: wrap;
}

.selected-templates {
    position: fixed;
    bottom: 0px;
    left: 20%;
    right: 0px;
    display: flex;
    justify-content: space-around;
    background-color: #c8c8e1;
    text-align: center;
    &__box-temp-tag {
        display: flex;
        justify-content: space-between;
    }
}

.template-clicked {
    background-color: #14186A;
    opacity: 0.5;
}

.tag-temp {
    width: fit-content;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #14186A;
    color: #FFF;
    margin-right: 30px;
}

.icon-checked {
    position: absolute;
    background-color: #a4a7d3;
    top: 40%;
    left: 45%;
    padding: 5px;
    border-radius: 5px;
    display: none;
}

.template-clicked .icon-checked {
    display: block;
  }

.btn-stape {
    padding: 16px 0 0;
}